.login-background {
    background: url("../../images/login-background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container-body {
    font-family: 'Poppins',sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 120vh;
    margin: 0 auto;
    box-shadow: rgba(255, 153, 29, 0.05) 0px 1px 0px, rgba(223, 127, 3, 0.1) 0px 0px 8px;
} 

button {
    border: none;
}

.bottom {
    padding-top: 110px;
}

.text-color {
    color: rgb(174, 113, 253);
}

span {
    color: rgb(255, 180, 91);
}

input[type=text] {

    width: 13cm;
}

input[type=password] {
    width: 13cm;
}

label {
    font-weight: 500;
}

.username {
    background-image: url(../../images/Profile.svg);
    padding-left: 50px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 10px 2px;
}

.pw {
    background-image: url(../../images/pw.svg);
    padding-left: 50px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
}

.btn-eye {
    margin-top: 10px;
}