.bg-footer {
  background-color: #ffe1c5;
  margin-top: 200px !important;
}

.footer-center p span {
  color: rgb(245, 129, 47);
}

.letter-icon {
  background-image: url(../../images/letter.svg);
  padding-left: 50px;
  background-size: 30px;
  background-repeat: no-repeat;
  /* background-position: 15px; */
  padding-bottom: 40px;
}

.instagram-icon {
  background-image: url(../../images/instagram.svg);
  padding-left: 50px;
  background-size: 30px;
  background-repeat: no-repeat;
  /* background-position: 15px; */
  padding-bottom: 40px;
}

.facebook-icon {
  background-image: url(../../images/facebook.svg);
  padding-left: 50px;
  background-size: 30px;
  background-repeat: no-repeat;
  /* background-position: 15px; */
  padding-bottom: 40px;
}

.twitter-icon {
  background-image: url(../../images/twitter.svg);
  padding-left: 50px;
  background-size: 30px;
  background-repeat: no-repeat;
  /* background-position: 15px; */
  padding-bottom: 40px;
}

.whatsapp-icon {
  background-image: url(../../images/whatsapp.svg);
  padding-left: 50px;
  background-size: 30px;
  background-repeat: no-repeat;
  /* background-position: 15px; */
  padding-bottom: 40px;
}

.vertical-line {
  border-left: 4px solid rgb(140, 140, 140);
  height: 170px;
  left: 50%;
  margin-left: -3px;
  top: 0;
  margin-top: 5px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150cm;
}

.team-style {
  padding-top: 15px;
  padding-left: 15px;
}

.fix-position {
  padding-left: 15px;
}