

.product-head{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../../images/product_head_img.png');
    background-repeat: no-repeat;
    width: 85%;
    height: 30vh;
    margin: 30px auto !important;
}

.product-head h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px !important;
}
